# API Channel Key Public Key (RSA)
# RSA 공개키를 PEM 형식으로 설정합니다.
# 키 쌍 생성: ./tools/generate_rsa_keypair.sh
# 공개키는 앱에 포함되어 서명 검증에 사용됩니다.
# 개인키는 운영진만 보관하고 서명 생성에 사용합니다.
API_CHANNEL_KEY_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA...
-----END PUBLIC KEY-----
